[Unit]
Description=Accelerometer Recording Waspi - Monitor, Save and Send Results of IoT Wasp Nest.

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/waspi/src/
ExecStart=/usr/bin/python3 /home/pi/waspi/src/accel_rec.py
Restart=always
RestartSec=3
TimeoutSec=30

[Install]
WantedBy=multi-user.target
